.primary-color{
    -fx-background-color: #3C2A5D;
}

.secondary-color{
    -fx-background-color: #2D1B4C;
}

.button-home{
    -fx-background-color: #5A3E85;
    -fx-background-radius: 30;
}

.buttonPIP{
    -fx-background-color: linear-gradient(to bottom left, #7263D9, #4B3C91);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.3, 0, 4);
}

.text-input{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #8E7CC3;
    -fx-text-inner-color: #fff;
    -fx-font-family: "Malgun Gothic";
}

.selected-border{
    -fx-border-color: #fff;
    -fx-border-width: 0 3 0 0;
}

.selected:hover{
    -fx-background-color: #4B3678;
}

.grid-with-border {
    -fx-background-color: #E8E8E8;
    -fx-grid-lines-visible: true;         /* 셀 선 보이기 */

    -fx-border-color: black;              /* 외곽선 검은색 */
    -fx-border-width: 1;                  /* 외곽선 두께 */

    -fx-opacity: 0.95;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0.5, 3, 3);
}

.rounded-box {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 30;
    -fx-border-color: #333333;
    -fx-border-radius: 30;
    -fx-padding: 10;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0.5, 3, 3);
}



.custom-list {
    -fx-background-color: transparent;
    -fx-border-color: #8E7CC3;
    -fx-border-radius: 8px;
    -fx-padding: 5;
    -fx-control-inner-background: #1e1e2e;
    -fx-background-insets: 0;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-selection-bar: #3b82f6;
    -fx-selection-bar-non-focused: #3b82f6;
}


.text-area.log-area {
    -fx-control-inner-background: black;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Malgun Gothic";
}
.text-area.log-area:focused {
    -fx-control-inner-background: black;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Malgun Gothic";
}